*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  bottom: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.section {
  padding: 25px 0;
}

.container {
  max-width: 1420px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.home__search {
  width: 100%;
}

mat-list-item {
  display: flex !important;
  text-align: center;
}
